
$gap: 0;
$bpMobile: 980px;
$columns: 14;

.container_small {

  padding-left: $gap;
  padding-right: $gap;

  .row {

    margin-left: -$gap;
    margin-right: -$gap;

    [class*="col-"] {
      padding-left: $gap;
      padding-right: 20px;
      padding-bottom: $gap;
    }
  }


  @media (min-width: $bpMobile) {

    .row {

      display: flex;

      @for $i from 1 through $columns {

        .col-#{$i}-#{$columns} {

          width: (100/ $columns * $i) *1%;
        }
      }
    }
  }
}

